html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#stage {
	width: 100%;
	height: 100%;

	background-image: url("images/main.jpg");
	width: 321px
	height: 570px;
}
#BT01 {
	position: absolute;
	width: 223px;
	height: 37px;

	top: 50%;
	left: 50%;

	top: calc(50% - 137px);
	left: calc(50% - 137px);
}

.state1 {
	background-image: url("images/BT01.png");
}

.state2 {
	background-image: url("images/sub.jpg");
}
